.IconCard {
  flex-direction: row;
  align-items: flex-start;

  padding: 2rem;
}

.icon {
  flex: 0 0 auto;
  height: 36px;
  width: 36px;
}

.icon > * {
  width: 36px;
  height: auto;
}

.icon + .content {
  margin-left: 2em;
  color: var(--ifm-color-gray-700);
}

.description {
  margin: .25rem 0 0;
}

.CardTitle {
  color: var(--ifm-heading-color);
  font-weight: var(--ifm-font-weight-semibold);
  margin-bottom: 0.5rem;
}
