.LinkCard {
  display: block;
  color: inherit;
}

.LinkCard:hover {
  color: inherit;
  text-decoration: none;
}

@media (min-width:1240px) {
  .LinkCard div:first-of-type {
    min-height: 150px;
  }
}
