.ScrollToTopButton {
  position: fixed;
  width: 32px;
  height: 32px;
  bottom: 40px;
  right: 40px;
  box-shadow: 0px 4px 12px rgba(23, 60, 86, 0.1);
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ScrollToTopButton:hover {
  background: var(--radar-gray-1);
}
